**/**.log
go.work*
pkg/
*.exe
certs/*
encryption_key.txt
postgres_pw.txt
GITHUB_TOKEN
functional_testing/cookies
functional_testing/dist
functional_testing/node_modules
functional_testing/.env
cloud/node_modules
cloud/*terraform*
img/*
tmp/*
static/radar_src/node_modules
static/radar_src/.vite
secret/*
static/radar