# Use postgres/example user/password credentials
version: '3.9'

services:

  db:
    image: postgres:16.4
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=webdrones
    ports:
      - "5432:5432"