:root {
  color-scheme: light dark;
}

* {
    font-family: Consolas,monaco,monospace;
    background-color: light-dark(#C0C0EE, #222230);
    color: light-dark(#236dd9FF,#236dd9CC);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 72px;
    margin: 1%;
}
p {
    position: relative;
    text-align: center;
    width: 50vw;
    margin: 20px;
    font-size: 20px;
}
body {
    display: grid;
    place-items: center;
    margin-top: 10vh;
    text-align: center;
}
#link_container {
    margin: 40px;
    height: 120px;
    display: flex;
    justify-content: center;
}
.link_button {
    border-radius: 10px;
    border-width: 2px;
    width: 90%;
    height: 100%;
    font-size: 120%;
    text-wrap: wrap;
    font-weight: bolder;
}
.link_button:hover {
    background-color: light-dark(#B0B0CE, #333340);
}

#drone-wave {
    height:300px;
    width: 300px;
    display: block;
    margin: 20px;
    text-align: center;
}

